.header-brand{
    font-family: 'Fraunces', serif;
    font-size: x-large;
    color: greenyellow;
}
.header-content{
    font-family: 'Fraunces', serif;
    font-size: large;
    color: greenyellow;
}

.header-brand:hover,.header-content:hover{
   color:white
}